header{
    display: flex;
    font-size: 2rem;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    color: white;
    background-color: rgba(54, 54, 54, 0.788);
    height: 6rem;
    
    h1{
      font-size: 4rem;
      display: flex;
      letter-spacing: .3rem;
      text-transform: lowercase;
      align-items: center;
      
      span{
      font-size: 2.5rem;
        margin-left: 1rem;
      }
    }
  
      ul{
        width: 40%;
        display: flex;
        justify-content: space-evenly;
          a{
            color: white;
            letter-spacing: .2rem;
            text-transform: lowercase;
            text-decoration: none;
          }
      }
  }